*.pyc
outputs
tests
envir.yml
docs/build
simlearner3d/processing/datamodule/__pycache__/*.pyc
simlearner3d/processing/dataset/__pycache__/*.pyc
simlearner3d/processing/transforms/__pycache__/*.pyc
.env
